body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(221, 221, 221);
}

h2 {
    margin-bottom: 10px;
}


.botão button {
    background-color: #ffffff;
    border: 1px solid #8d8b8b;
    padding: 8px 15px;
    margin-right: 5px;
    justify-content: center;
}

.botão button:hover {
    cursor: pointer;
    background-color: rgb(228, 129, 37);
}



.cartao {
    margin-right: 1%;
    margin-bottom: 20px;
    padding: 5px;
    background-color: white;

}

.cartao img {
    width: 300px;
    height: 300px;
}

h3 {
    font-size: 25px;

}

p {

    font-size: 10px;


}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    margin: auto;
    width: 70%;
}

.cartao :hover{
    transform: scale(1.2);
    transition: 0.5s;
}